<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.scripting-targets</key>
	<dict>
		<key>$(PRODUCT_BUNDLE_PREFIX:default=com.utmapp).UTM</key>
		<array>
			<string>com.utmapp.UTM.vm-access</string>
		</array>
	</dict>
</dict>
</plist>
