<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Autosave</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Auto save on background</string>
			<key>Key</key>
			<string>AutosaveBackground</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Auto save on low memory</string>
			<key>Key</key>
			<string>AutosaveLowMemory</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Gestures</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Long Press</string>
			<key>Key</key>
			<string>GestureLongPress</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Titles</key>
			<array>
				<string>Disabled</string>
				<string>Click &amp; Hold</string>
				<string>Right Click</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Two Finger Tap</string>
			<key>Key</key>
			<string>GestureTwoTap</string>
			<key>DefaultValue</key>
			<integer>2</integer>
			<key>Titles</key>
			<array>
				<string>Disabled</string>
				<string>Right Click</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Two Finger Pan</string>
			<key>Key</key>
			<string>GestureTwoPan</string>
			<key>DefaultValue</key>
			<integer>3</integer>
			<key>Titles</key>
			<array>
				<string>Disabled</string>
				<string>Move Screen</string>
				<string>Click &amp; Hold</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>3</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Two Finger Scroll</string>
			<key>Key</key>
			<string>GestureTwoScroll</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Titles</key>
			<array>
				<string>Disabled</string>
				<string>Mouse Wheel</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>4</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Three Finger Pan</string>
			<key>Key</key>
			<string>GestureThreePan</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Titles</key>
			<array>
				<string>Disabled</string>
				<string>Move Screen</string>
				<string>Click &amp; Hold</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>3</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Cursor</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Touch Input</string>
			<key>Key</key>
			<string>MouseTouchType</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Titles</key>
			<array>
				<string>Drag cursor</string>
				<string>Touch mode (always show cursor)</string>
				<string>Touch mode (try hiding cursor)</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Apple Pencil Input</string>
			<key>Key</key>
			<string>MousePencilType</string>
			<key>DefaultValue</key>
			<integer>2</integer>
			<key>Titles</key>
			<array>
				<string>Drag cursor</string>
				<string>Tablet mode (always show cursor)</string>
				<string>Tablet mode (try hiding cursor)</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Touchpad/Mouse Input</string>
			<key>Key</key>
			<string>MouseIndirectType</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Titles</key>
			<array>
				<string>Drag cursor</string>
				<string>Follow cursor</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
	</array>
</dict>
</plist>
